.audio-player {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  width: 85%;
  max-width: 600px;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.volume {
  margin-left: 18px;
  display: flex;
  align-items: center;
}

.volumeSlider {
  direction: ltr;
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #118ad3 0%,
    #2196f3 var(--volume-fill, 50%),
    #ccc var(--volume-fill, 50%),
    #ccc 100%
  );
  outline: none;
  cursor: pointer;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: transparent;
  border: none;
}

.volumeSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: transparent;
  border: none;
}

.icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin: 0 7px 0 4px;
}

.time {
  font-family: "Vazirmatn";
  font-size: 0.9rem;
}

.progress-container {
  position: relative;
  flex: 1;
  margin: 0 12px;
}

.progress-bar-bg {
  height: 1px;
  width: 100%;
  background: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.buffered {
  height: 100%;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
}

.played {
  height: 100%;
  background: #2196f3;
  position: absolute;
  left: 0;
  top: 0;
}

.progress-slider {
  position: relative;
  width: 100%;
  height: 20px;
  -webkit-appearance: none;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  direction: ltr;
}

.progress-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
}

.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #118ad3;
  border: none;
  margin-top: -1px;
  position: relative;
  z-index: 3;
}
.progress-slider::-moz-range-track {
  background: transparent;
}

.progress-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #118ad3;
  border: none;
  position: relative;
  z-index: 3;
}
