.file {
  background-color: #118ad3;
  border-radius: 50%;
  border: 1px solid #118ad3;
  width: 62px;
  height: 62px;
  cursor: pointer;
}
.file img {
  width: 32px;
  height: 27px;
  vertical-align: middle;
}

.restart {
  background-color: #118ad3;
  border: 1px solid #118ad3;
  border-radius: 20px;
  font-family: "Vazirmatn";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 11px;
  cursor: pointer;
}
