.file {
  background-color: #118ad3;
  border-radius: 50%;
  border: 1px solid #118ad3;
  width: 62px;
  height: 62px;
  cursor: pointer;
}
.file img {
  width: 32px;
  height: 27px;
  vertical-align: middle;
}
