.mic {
  background-color: #00b3a1;
  border-radius: 50%;
  border: 1px solid #00b3a1;
  width: 62px;
  height: 62px;
  cursor: pointer;
}
.mic img {
  width: 19.6px;
  height: 32.7px;
}

.restart {
  background-color: #118ad3;
  border: 1px solid #118ad3;
  border-radius: 20px;
  font-family: "Vazirmatn";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 11px;
  cursor: pointer;
}
